* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-container {
  background-color: #161624;
  min-height: 100vh;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 12px;
}

.ul-container {
  height: 350px;
  overflow-y: scroll;
  margin-bottom: 12px;
}

.no-visited-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paragraph {
  color: #cbd5e1;
  font-family: 'Roboto';
  font-size: 26px;
  font-weight: 400;
}

.visited-container {
  display: flex;
  flex-wrap: wrap;
}
